<div class="row justify-content-center">
  <div class="col-4">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="bicomatApp.client.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bicomatApp.client.nom">Nom</span></dt>
        <dd>
          <span>{{ client.nom }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.prenom">Prenom</span></dt>
        <dd>
          <span>{{ client.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.admel">Admel</span></dt>
        <dd>
          <span>{{ client.admel }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bicomatApp.TypeClient2.' + client.type }}">{{ client.type }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.anneeArrivee">Annee Arrivee</span></dt>
        <dd>
          <span>{{ client.anneeArrivee | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.numContrat">Num Contrat</span></dt>
        <dd>
          <span>{{ client.numContrat }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.agency">Agency</span></dt>
        <dd>
          <span>{{ client.agency }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.numPortable">Num Portable</span></dt>
        <dd>
          <span>{{ client.numPortable }}</span>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.tiers">Tiers</span></dt>
        <dd>
          <div *ngIf="client.tiers">
            <a [routerLink]="['/tiers', client.tiers?.id, 'view']">{{ client.tiers?.etatTiers }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.conseiller">Conseiller</span></dt>
        <dd>
          <div *ngIf="client.conseiller">
            <a [routerLink]="['/conseiller', client.conseiller?.id, 'view']">{{ client.conseiller?.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bicomatApp.client.banque">Banque</span></dt>
        <dd>
          <div *ngIf="client.banque">
            <a [routerLink]="['/banque', client.banque?.id, 'view']">{{ client.banque?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
  <div class="col-4">
    <h2 data-cy="clientDetailsHeading">Liste des Comptes du client</h2>

    <div class="table-responsive" id="entities" *ngIf="comptes && comptes.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="numero">
              <span jhiTranslate="bicomatApp.compte.numero">Numero</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="type"><span jhiTranslate="bicomatApp.compte.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="solde"><span jhiTranslate="bicomatApp.compte.solde">Solde</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="decouvert">
              <span jhiTranslate="bicomatApp.compte.decouvert">Decouvert</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="tauxRenumeration">
              <span jhiTranslate="bicomatApp.compte.tauxRenumeration">Taux Renumeration</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="client.id">
              <span jhiTranslate="bicomatApp.compte.client">Client</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="banque.id">
              <span jhiTranslate="bicomatApp.compte.banque">Banque</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compte of comptes" data-cy="entityTable">
            <td>
              <a [routerLink]="['/compte', compte.id, 'view']">{{ compte.id }}</a>
            </td>
            <td>{{ compte.numero }}</td>
            <td jhiTranslate="{{ 'bicomatApp.TypeCompte.' + compte.type }}">{{ compte.type }}</td>
            <td>{{ compte.solde }}</td>
            <td>{{ compte.decouvert }}</td>
            <td>{{ compte.tauxRenumeration }}</td>
            <td>
              <div *ngIf="compte.client">
                <a [routerLink]="['/client', compte.client?.id, 'view']">{{ compte.client?.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="compte.banque">
                <a [routerLink]="['/banque', compte.banque?.id, 'view']">{{ compte.banque?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/compte', compte.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
